<application>

  <name>Gaze Interface Tutorial</name>

  <dependencies>
      <port>/icubSim/cam/left</port>
      <port>/iKinGazeCtrl/rpc</port>
  </dependencies>

  <module>
      <name>mover</name>
      <node>localhost</node>
      <display>--minimized</display>
  </module>

  <module>
      <name>detector</name>
      <node>localhost</node>
      <display>--minimized</display>
  </module>

  <module>
      <name>tracker</name>
      <node>localhost</node>
      <display>--minimized</display>
  </module>

  <module>
      <name>yarpview</name>
      <parameters>--name /viewer --x 10 --y 10</parameters>
      <node>localhost</node>
  </module>

  <module>
      <name>yarp</name>
      <parameters>read /read</parameters>
      <node>localhost</node>
  </module>

  <connection>
      <from>/icubSim/cam/left</from>
      <to>/viewer</to>
      <protocol>udp</protocol>
  </connection>

  <connection>
      <from>/icubSim/cam/left</from>
      <to>/detector/image/in</to>
      <protocol>udp</protocol>
  </connection>

  <connection>
    <from>/detector/target</from>
    <to>/tracker/target:i</to>
    <protocol>tcp</protocol>
  </connection>

  <connection>
    <from>/detector/target</from>
    <to>/read</to>
    <protocol>tcp</protocol>
  </connection>

</application>
