<application>

  <name>Make It Roll</name>

  <dependencies>
      <port>/icubSim/cam/left</port>
      <port>/icubSim/cam/right</port>
      <port>/icubSim/cartesianController/right_arm/state:o</port>      
      <port>/iKinGazeCtrl/rpc</port>
  </dependencies>

  <!-->FILL IN THE APPLICATION<-->
  
</application>


