<application>

  <name>icub-vision</name>

  <dependencies>
      <port>/icubSim/cam/left</port>
  </dependencies>

  <module>
      <name>move_ball</name>
      <node>localhost</node>
      <tag>objectMover</tag>
  </module>

  <module>
      <name>object_detector</name>
      <node>localhost</node>
      <tag>objectDetector</tag>
  </module>

  <module>
      <name>lookAtLocation</name>
      <node>localhost</node>
      <tag>objectTracker</tag>
  </module>  

  <module>
      <name>yarpview</name>
      <parameters>--name /viewer --x 10 --y 10</parameters>
      <node>localhost</node>
      <tag>objectViewer</tag>
  </module>
  
 <module>
      <name>yarpview</name>
      <parameters>--name /viewer2 --x 10 --y 100</parameters>
      <node>localhost</node>
      <tag>objectViewer2</tag>
  </module>

  <connection>
      <from>/icubSim/cam/left</from>
      <to>/viewer</to>
      <protocol>udp</protocol>
  </connection>

  <connection>
      <from>/icubSim/cam/left</from>
      <to>/objectDetector/image/in</to>
      <protocol>udp</protocol>
  </connection>

  <connection>
      <from>/objectDetector/image/out</from>
      <to>/viewer2</to>
      <protocol>udp</protocol>
  </connection>

  <connection>
    <from>/objectDetector/target</from>
    <to>/mover/target/in</to>
    <protocol>tcp</protocol>
  </connection>
  

</application>


