<application>

  <name>System</name>

  <module>
      <name>iCub_SIM</name>
      <node>localhost</node>
      <tag>simulator</tag>
  </module>
  
  <module>
      <name>simCartesianControl</name>
      <parameters>--no_legs</parameters>
      <node>localhost</node>
      <tag>controller</tag>
  </module>
  
  <module>
      <name>iKinCartesianSolver</name>
      <parameters>--context simCartesianControl --part left_arm</parameters>
      <node>localhost</node>
      <tag>solver</tag>
  </module>
 
</application>





